# Ігноруємо файл з конфігураційними змінними середовища
.env

# Ігноруємо всі .log файли
*.log

# Ігноруємо каталог node_modules
node_modules/

# Ігноруємо файл конфігурації
config.json

# Ігноруємо всі файли у папці temp
temp/

